<template name="SideNav">
	<nav class="side-nav">
        <ul>
            <li><a href="/home"><i class="glyphicon glyphicon-home"></i>Home</a></li>
            <li><a href="/giveproduct"><i class="glyphicon glyphicon-plus"></i>Denote Product</a></li>
            <li><a href="/takeproduct"><i class="glyphicon glyphicon-minus"></i>Take Product</a></li>
            <li><a href="/sendnotification"><i class="glyphicon glyphicon-refresh"></i>Notification Send</a></li>
            <li><a href="/donarlist"><i class="glyphicon glyphicon-refresh"></i>Show Donar List</a></li>
            <li><a href="/takerlist"><i class="glyphicon glyphicon-refresh"></i>Show Taker List</a></li>
        </ul>
	</nav>
</template>